{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Sobre Nós</h1>
    <p>Bem-vindo à nossa plataforma de controle de estoque escolar! Aqui você pode gerenciar materiais de forma eficiente e prática.</p>
    <p>Nossa missão é garantir que todos os materiais necessários para o bom funcionamento da escola estejam sempre disponíveis e em bom estado de conservação.</p>
    <p>Se você tiver dúvidas ou sugestões, não hesite em nos contatar!</p>
  </div>
{% endblock %}
