{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block app_home %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
</head>
<body>
    <h2>Redefinir Senha</h2>
    <p>Informe seu e-mail para receber instruções de redefinição de senha.</p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
{% endblock app_home %}