{% extends "base.html" %}

{% block tittle %}Confirmar Exclusão do Usuario {{usuario.nome}} {% endblock %}

{% block content %}
    <h2>Confirmar Exclusão</h2>
    <p>Tem certeza que deseja excluir o usuario: <Strong>{{ usuario.nome }}</Strong></p>

    <form method = "POST" action="{% url 'excluir_usuario' usuario.pk %}"> {# Action aponta para mesma URL #}
        {% csrf_token %}
        <button type="submit" class="bnt btn-danger">Sim, Excluir</button>

        <a href = "{% url ' gerenciar_users ' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}